.git
.gitignore
.idea
node_modules
crystal_messenger/build
crystal_messenger/.dart_tool
crystal_messenger/android
crystal_messenger/ios
crystal_messenger/.flutter-plugins
crystal_messenger/.flutter-plugins-dependencies
crystal_messenger/pubspec.lock
crystal_messenger/test
crystal_messenger/integration_test
supabase/.temp
*.md
!server/README.md
.env
.env.*
!.env.example
.DS_Store
Thumbs.db
